<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<form class="form">
	<div class="row">
		<article class="block-form">
			<fieldset class="column">
				<div>
					<!-- TODO: implement custom form control -->
					Kies een voorwerp
				</div>
				<button>Schrijftips</button>
			</fieldset>
			<fieldset class="column">
				<label>
					Titel
					<input type="text" name="title" required ng-model="story.title">
				</label>
				<fieldset>
					<label class=column>
						Locatie
						<app-location-picker ng-model=story.location></app-location-picker>
					</label>
					<label class=column>
						Jaar
						<input type="number" name="year" min=1900 max=2017 step=1 placeholder=1960 required ng-model="story.year">
					</label>
				</fieldset>
				<label>
					Inleiding
					<textarea name="introduction" ng-model="story.introduction"></textarea>
				</label>
				<label>
					Mijn herinnering
					<textarea name="story" required ng-model="story.fulltext"></textarea>
				</label>
				<fieldset>
					<input type=button ng-model="story.media" value="Voeg media toe">
					<button class=button-submit>Ik heb mijn verhaal verteld</button>
				</fieldset>
			</fieldset>
		</article>
	</div>
</form>
