<cc-banner tiny=true></cc-banner>
<form class="form" name=form>
	<div class="row">
		<article class="block-form">
			<fieldset class="column">
				<app-object-picker object-url="story.subject"></app-object-picker>
				<app-attachment-manager
					meta="images.meta"
					field-list="images.fields"
					item-list="images.items"
				>Voeg eigen foto&rsquo;s toe</app-attachment-manager>
				<app-attachment-manager
					meta="links.meta"
					field-list="links.fields"
					item-list="links.items"
				>Voeg links toe</app-attachment-manager>
				<button>Schrijftips (binnenkort)</button>
			</fieldset>
			<fieldset class="column">
				<label>
					Titel
					<input type="text" name="title" ng-model="story.title" placeholder="Titel van uw herinnering" maxlength=254 --ng-model-options="{debounce: 500}">
				</label>
				<label for=title class=error ng-show="(form.$submitted || form.title.$touched) && form.title.$error.maxlength">De titel kan niet langer zijn dan 254 tekens.</label>
				<fieldset>
					<label class=column>
						Plaats
						<input type=text name=place ng-model="story.place" placeholder="Utrecht" maxlength=254 --ng-model-options="{debounce: 500}">
						Waar speelt uw herinnering zich af?
					</label>
					<label class=column>
						Jaar
						<input type="text" name="year" pattern="\d{4}(-\d{4})?" placeholder="1960-1962" ng-model="story.year" --ng-model-options="{debounce: 500}">
						In welk jaar of welke periode speelt uw herinnering zich af?
					</label>
				</fieldset>
				<label for=place class=error ng-show="(form.$submitted || form.place.$touched) && form.place.$error.maxlength">De plaatsnaam kan niet langer zijn dan 254 tekens.</label>
				<label for=year class=error ng-show="(form.$submitted || form.year.$touched) && form.year.$error.pattern">Voer een jaartal in bestaande uit vier cijfers (voorbeeld: 1984), of twee jaartallen met een streepje ertussen (voorbeeld: 1984-1990).</label>
				<label>
					Inleiding
					<textarea name="introduction" ng-model="story.introduction" placeholder="Schrijf een korte inleiding bij uw verhaal van maximaal vijf zinnen."></textarea>
				</label>
				<label>
					Mijn herinnering
					<textarea name="content" ng-model="story.content" style="height: 30em;" placeholder="Beschrijf hier uw herinnering (maximaal 500 woorden). Gebruik witregels om alinea’s te scheiden. Een alinea van minder dan tien woorden wordt weergegeven als een kopje."></textarea>
				</label>
				<label>
					<input type=checkbox name=published ng-model="story.published">
					Dit verhaal is klaar om te publiceren.
				</label>
				<fieldset>
					<button class=button-submit ng-click="saveStory()" ng-disabled="pending || form.$invalid">Ik heb mijn verhaal verteld</button>
					<label class=error ng-show="serverRemarks">
						Uw bijdrage werd geweigerd om de volgende redenen:
						<ul>
							<li ng-repeat="(key, value) in serverRemarks">
								<strong>{{key}}:</strong> {{value}}
							</li>
						</ul>
						Probeert u het alstublieft opnieuw nadat u de aanwijzingen heeft opgevolgd.
					</label>
					<label class=error ng-show="serverUnauthenticated">
						U bent niet ingelogd. Kopieer uw bijdrage naar een bestand op uw computer, <a href="#/inloggen">log in</a> en probeert het opnieuw.
					</label>
					<label class=error ng-show="serverUnauthorized">
						Het lijkt erop dat u een verhaal probeert te bewerken dat u niet zelf heeft bijgedragen. Neem contact op met het museum als dit niet klopt.
					</label>
					<label class=error ng-show="otherServerError">
						Het is om technische redenen niet gelukt om uw bijdrage op te slaan. Als u ervoor kiest om dit probleem te melden, zou u dan de code in onderstaand tekstvak willen meesturen? Bij voorbaat dank.
						<pre>{{otherServerError | json}}</pre>
					</label>
				</fieldset>
			</fieldset>
		</article>
	</div>
</form>
