<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<div class="row">
	<article class="block-form">
		<form class="wrapper form block-form">
			<fieldset class="column">
				<div>
					<!-- TODO: implement custom form control -->
					Kies een voorwerp
				</div>
				<button>Schrijftips</button>
			</fieldset>
			<fieldset class="column">
				<label>
					Titel
					<input type="text" name="title" required>
				</label>
				<label>
					Locatie
					<input type="text" name="location" required>
				</label>
				<label>
					Jaar
				<input type="number" name="year" min=1900 max=2017 step=1 placeholder=1960 required>
				</label>
				<label>
					Inleiding
					<textarea name="introduction" rows="3" cols="40"></textarea>
				</label>
				<label>
					Mijn herinnering
					<textarea name="story" rows="10" cols="40" required></textarea>
				</label>
				<button>Voeg media toe</button>
				<button>Ik heb mijn verhaal verteld</button>
			</fieldset>
		</form>
	</article>
</div>