<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<div class="row">
	<article class="block-cta">
		<div class="container-cta double" style="height: 292px;">
			<div class="cta">
				<a href="#/schrijven">
					<div class="wrapper">
						<h3 class="divider special">Schrijf een verhaal</h3>
					</div>
				</a>
			</div>
			<div class="cta">
				<a href="#/profiel">
					<div class="wrapper">
						<h3 class="divider special">Naar je profiel</h3>
					</div>
				</a>
			</div>
		</div>
	</article>
</div>
