<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<div class="row">
	<article class="block-cta">
		<div class="container-cta double">
			<div class="cta">
				<form class="wrapper form block-form" id=registration-form>
					<h3>Maak een account,</h3>
					<table class=table style="text-align: left;">
						<tr>
							<td><label for=login>Emailadres:</label></td>
							<td><input name=login id=login type=email placeholder="voorbeeld@domein.xyz" required size=30></td>
						</tr>
						<tr>
							<td><label for=password>Wachtwoord:</label></td>
							<td><input name=password id=password type=password maxlength=40 size=30 required></td>
						</tr>
						<tr class=row>
							<td><label for=name>Naam:</label></td>
							<td><input name=name id=name type=text size=30 placeholder=Ingrid></td>
						</tr>
						<tr>
							<td><label for=year>Geboortejaar:</label></td>
							<td><input name=year id=year type=number min=1900 max=2016 step=1 placeholder=1980 size=4></td>
						</tr>
						<tr>
							<td><label for=gender>Geslacht:</label></td>
							<td><select name=gender id=gender>
								<option value=woman>vrouw</option>
								<option value=man>man</option>
								<option value=other>overig</option>
							</select></td>
						</tr>
					</table>
					<button type=submit ng-click="">Aanmelden</button>
				</form>
			</div>
			<div class="cta">
				<div class="wrapper">
					<h3>Of log in met:</h3>
					<span class="button">Google</span>
					<span class="button">Facebook</span>
				</div>
			</div>
		</div>
	</article>
</div>
