<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<app-blocklist>
	<app-block>
		<div class="container-image">
			<img src="profiel.jpg">
		</div>
		<div class="container-content">
			<h3>Gebruiker</h3>
			<dl>
				<dt>Woonplaats</dt>
				<dt>Geboortejaar</dt>
				<dt>Geboorteplaats</dt>
				<dt>Geslacht</dt>
				<dt>Beroep ouders</dt>
			</dl>
			<button>Bewerk mijn profiel</button>
		</div>
	</app-block>
	<app-block item="storiesPreview"></app-block>
	<app-block item="collectionsPreview"></app-block>
</app-blocklist>
