<cc-banner></cc-banner>
<div class="row">
	<article class="block-form">
		<form class="wrapper form" id=authentication-form name=form>
			<h3>Welkom terug</h3>
			<table class=table style="text-align: left;">
				<tr>
					<td><label for=username>Gebruikersnaam:</label></td>
					<td><input name=username id=username type=text placeholder="Ingrid" required size=30 ng-model="credentials.username"></td>
				</tr>
				<tr>
					<td><label for=password>Wachtwoord:</label></td>
					<td><input name=password id=password type=password size=30 required placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;" ng-model="credentials.password"></td>
				</tr>
			</table>
			<button type=submit ng-click="login(credentials)" ng-disabled="pending || form.$invalid">Inloggen</button>
			<label ng-show=serverRejectedCredentials class=error>Uw gebruikersnaam of uw wachtwoord klopt niet. Probeert u het nog eens.</label>
			<label ng-show=accountDisabled class=error>Uw account is geblokkeerd. Neem contact op met het museum voor assistentie.</label>
			<label ng-show=serverMessage class=error>De server weigerde uw loginpoging met de volgende reden: {{serverMessage}}</label>
		</form>
	</article>
</div>
