<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<div class="row">
	<article class="block-cta">
		<div class="container-cta double">
			<div class="cta">
				<div class="wrapper">
					<h3>Welkom terug</h3>
				</div>
			</div>
			<div class="cta">
				<form class="wrapper form block-form" id=authentication-form>
					<table class=table style="text-align: left;">
						<tr>
							<td><label for=login>Emailadres:</label></td>
							<td><input name=login id=login type=email placeholder="voorbeeld@domein.xyz" required size=30></td>
						</tr>
						<tr>
							<td><label for=password>Wachtwoord:</label></td>
							<td><input name=password id=password type=password maxlength=40 size=30 required></td>
						</tr>
					</table>
					<!--<button type=submit ng-click="">Inloggen</button>-->
					<a href="#/verhaalofprofiel" class=button>Inloggen</a>
				</form>
			</div>
		</div>
	</article>
</div>
