<div class="row no-background">
	<article class="block-pageheader-fullwidth small">
		<div class="overlay-top"></div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<div class="row no-background">
	<article class="block-intro">
		<h1 class="divider special">Herinneringen</h1>
		<div class="intro">
			<p>Hier ziet u de herinneringen die bezoekers hebben bijgedragen.</p>
			<a href="#/meedoen?next=/toevoegen" class="button">Draag bij!</a>
		</div>
		<div class="overlay-bottom"></div>
	</article>
</div>
<app-blocklist items="memories"></app-blocklist>
