<div class=app-location-picker>
	<span ng-if="!active">
		<button
			ng-if="!has_picked"
			ng-click="activate()"
		>Kies een locatie</button>
		<app-location
			properties=location
			ng-if="has_picked"
			ng-click="activate()"
		></app-location>
	</span>
	<ui-gmap-google-map
		center=center
		zoom=zoom
		events=mapEvents
		control=handle
		ng-if=active
	>
		<ui-gmap-map-control position="TOP_LEFT">
			<button class=close-button ng-click="deactivate()">Sluit</button>
		</ui-gmap-map-control>
		<ui-gmap-marker
			idKey=location.id
			coords=location.coords
			control=handle
			events=markerEvents
			ng-if=has_picked
		></ui-gmap-marker>
	</ui-gmap-google-map>
</div>