<li style="height: 603px;">
	<a ng-if="item.imageUrl" ng-href="{{ item.href }}">
		<div class="container-image">
			<picture>
				<img ng-srcset="{{ item.imageUrl }}">
			</picture>
			<span class="hover">
				<div class="wrapper">
					<span>Lees meer</span>
				</div>
			</span>
		</div>
	</a>
	<div class="container-content">
		<span ng-if="item.supertitle" class="divider">
			{{ item.supertitle }}
		</span>
		<h3>{{ item.title }}</h3>
		<p>{{ item.description }}</p>
		<a ng-href="{{ item.href }}" class="button">Lees meer</a>
	</div>
</li>
