<cc-banner large=true image=bannerImage></cc-banner>
<div class="row">
	<article class="block-cta">
		<div class="container-cta double" style="height: 292px;">
			<div class="cta">
				<a href="#/toevoegen">
					<div class="wrapper">
						<h3 class="divider special">Schrijf een verhaal</h3>
						<span class=button>Bijdragen</span>
					</div>
				</a>
			</div>
			<div class="cta">
				<a href="#/profiel">
					<div class="wrapper">
						<h3 class="divider special">Naar uw profiel</h3>
						<span class=button>Bekijken</span>
					</div>
				</a>
			</div>
		</div>
	</article>
</div>
